{% extends "base.html" %}

{% block content %}
<div class="archive-header">
  <h1 data-i18n="blog.archiveTitle">Post Archive</h1>
  <p data-i18n="blog.archiveSubtitle">All blog posts in chronological order</p>
</div>

<div class="archive-list">
  {% if posts %}
    {% for post in posts %}
    <div class="archive-item">
      <h3 class="archive-item-title">
        <a href="{{ post.slug }}.html">{{ post.title }}</a>
        <span class="language-badge-small">{{ post.lang.upper() }}</span>
      </h3>
      <div class="archive-item-meta">
        <time datetime="{{ post.date }}">{{ post.date }}</time>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="blog-empty">
      <p data-i18n="blog.noPosts">No posts yet. Check back later!</p>
    </div>
  {% endif %}
</div>

<div style="margin-top: 32px;">
  <a href="index.html" class="blog-nav-link">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span data-i18n="blog.backToHome">Back to Blog Home</span>
  </a>
</div>
{% endblock %}
