{% extends "base.html" %}

{% block content %}
{% if no_posts %}
  <div class="blog-empty">
    <h2 data-i18n="blog.noPosts">No posts yet!</h2>
    <p data-i18n="blog.checkBack">Check back later for new content.</p>
  </div>
{% else %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Blog",
    "name": "Tobias R.M.K. Meyer - Blog",
    "description": "{{ description }}",
    "url": "{{ page_url }}",
    "author": {
      "@type": "Person",
      "name": "Tobias R.M.K. Meyer",
      "url": "https://www.trmk.de"
    }
  }
  </script>

  <div class="blog-index-header">
    <h1 data-i18n="blog.latestPost">Latest Post</h1>
    <a href="archive.html" class="btn-teal">
      <i class="fa fa-archive" aria-hidden="true"></i>
      <span data-i18n="blog.viewArchive">View Archive</span>
    </a>
  </div>

  <article class="blog-post" itemscope itemtype="https://schema.org/BlogPosting">
    <header class="blog-post-header">
      <h2 itemprop="headline">{{ post.title }}</h2>
      <p class="blog-post-meta">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <time datetime="{{ post.date }}" itemprop="datePublished">
          <span data-i18n="blog.publishedOn">Published on</span> {{ post.date }}
        </time>
      </p>
    </header>

    <div class="blog-post-content" itemprop="articleBody">
      {{ post.content | safe }}
    </div>

    <div style="margin-top: 20px;">
      <a href="{{ post.slug }}.html" class="btn-teal">
        <span data-i18n="blog.readMore">Read More</span>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </article>

  <nav class="blog-post-nav" aria-label="Post navigation" style="margin-top: 40px;">
    <div>
      {% if post.previous_post %}
        <a href="{{ post.previous_post.slug }}.html" class="blog-nav-link">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <span data-i18n="blog.olderPost">Older Post</span>
        </a>
      {% endif %}
    </div>
    <a href="archive.html" class="blog-nav-home">
      <i class="fa fa-archive" aria-hidden="true"></i>
      <span data-i18n="blog.viewAllPosts">View All Posts</span>
    </a>
    <div></div>
  </nav>
{% endif %}
{% endblock %}