{% extends "base.html" %}

{% block content %}
<article class="blog-post" itemscope itemtype="https://schema.org/BlogPosting">
  {% if is_post %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ post.title }}",
    "description": "{{ post.description }}",
    "datePublished": "{{ post.date }}",
    "author": {
      "@type": "Person",
      "name": "Tobias R.M.K. Meyer",
      "url": "https://www.trmk.de"
    },
    "publisher": {
      "@type": "Person",
      "name": "Tobias R.M.K. Meyer",
      "url": "https://www.trmk.de"
    },
    "image": "https://www.trmk.de/avatar.jpg",
    "url": "{{ page_url }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page_url }}"
    }
  }
  </script>
  {% endif %}

  <header class="blog-post-header">
    <h1 itemprop="headline">{{ post.title }}</h1>
    <p class="blog-post-meta">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <time datetime="{{ post.date }}" itemprop="datePublished">
        <span data-i18n="blog.publishedOn">Published on</span> {{ post.date }}
      </time>
    </p>

    {% if post.translations %}
    <div class="blog-language-switcher">
      <i class="fa fa-language" aria-hidden="true"></i>
      <span class="language-badge current">{{ post.lang.upper() }}</span>
      {% for lang, translation in post.translations.items() %}
        <a href="{{ translation.slug }}.html" class="language-badge">{{ lang.upper() }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </header>

  <div class="blog-post-content" itemprop="articleBody">
    {{ post.content | safe }}
  </div>

  <nav class="blog-post-nav" aria-label="Post navigation">
    <div>
      {% if post.previous_post %}
        <a href="{{ post.previous_post.slug }}.html" class="blog-nav-link">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <span data-i18n="blog.olderPost">Older Post</span>
        </a>
      {% endif %}
    </div>

    <a href="index.html" class="blog-nav-home">
      <i class="fa fa-home" aria-hidden="true"></i>
      <span data-i18n="blog.home">Home</span>
    </a>

    <div>
      {% if post.next_post %}
        <a href="{{ post.next_post.slug }}.html" class="blog-nav-link">
          <span data-i18n="blog.newerPost">Newer Post</span>
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      {% endif %}
    </div>
  </nav>
</article>
{% endblock %}